html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}
.treel-table {
  margin: 0 20px 0 20px;
}
.treel-table tr {
  margin: 10px 0 10px;
}
.action {
  cursor: pointer;
}
.container {
  padding-bottom: 20px;
}
.topbar {
  text-align: center;
  /*background: rgba(0, 0, 0, 0.5);*/
  color: #FFF;
  padding: 10px;
  font-size: 15px;
}
.topbar a {
  color: #FFF;
}
.topbar .email {
  vertical-align: super;
}
.footer {
  text-align: center;
  color: #FFF;
  padding: 10px;
}
.footer .backgrounds {
  list-style-type: none;
  padding: 0;
}
.footer .backgrounds li {
  padding: 2px;
  display: inline-block;
  /*vertical-align: super;*/
}

table tr td {
  vertical-align: top;
}

.box {
  position: relative;
  width: 190px;
  min-height: 190px;
  border-radius: 5px;
  margin: 10px;
  background: rgba(255,255,255,0.8);
  /*overflow: hidden;*/
  padding-bottom: 50px;
}
.checked {
  opacity: 0.4;
}
.box textarea {
  font-size: 15px;
  background: none;
  border: 0;
  padding: 10px 13px 0 13px;
  /*background: #000;*/
  /*color: #DDD;*/
}
.box textarea:focus {
  outline: none;
}
.item textarea {
  font-size: 25px;
  text-transform: capitalize;
}
.editing {
  -webkit-box-shadow: 0 0 10px 5px #FFF;
  box-shadow: 0 0 10px 5px #FFF;
}
.item-controls {
  margin-right: 20px;
  position: relative;
  min-height: 190px;
  color: #FFF;
  opacity: 0.3;
  width: 39px;
  margin-top: 10px;
}
.item-controls .go-down {
  position: absolute;
}
.item-controls .go-right {
  position: absolute;
  margin-top: -22px;
}
.note-controls-wrapper {
  position: absolute;
  width: 100%;
  bottom: 33px;
}
.note-control-item {
  color: rgba(153, 153, 153, 0.66);
  position: absolute;
  bottom: 0;
  margin: 10px;
}
/*.edit {
  position: absolute;
}
.delete {
  position: absolute;
}*/

.top{top:0}
.middle{top:50%;margin-top:-10px;/*half of the .box height*/}
.bottom{bottom:0}

.left{left:0;}
.center{left:50%;margin-left:-10px;/*half of the .box width*/}
.right{right:0;}

.invert-text {
  color: #FFF;
  /*text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);*/
}


/* strap overrides */
.alert {
  border-radius: 0;
}
.control-label {
  font-weight: normal;
}
.alert-info {
  color: #FFF;
  background-color: #31708F;
  border-color: #31708F;
}
.alert-danger {
  color: #FFF;
  background-color: #A94442;
  border-color: #A94442;
}