<template name="items">
  <table>
    {{#each items}}
      {{> item}}
    {{/each}}
  </table>
</template>

<template name="item">
  <tr>
    {{> note}}

    {{#each notes}}
      {{> note}}
    {{/each}}
    <td>
      <div class="item-controls">
        <i class="fa fa-3x fa-chevron-circle-right go-right middle"></i>
        <i class="fa fa-2x fa-chevron-circle-down go-down bottom"></i>
      </div>
    </td>
  </tr>
</template>

<template name="note">
  <td>
    <div class="note">
      {{#if formVisible}}
        <form>
          <textarea rows="6" class="form-control" type="text" name="note" placeholder="...">{{body}}</textarea>
        </form>
      {{else}}
        <div class="body edit">{{body}}</div>
      {{/if}}

      
      <div class="note-controls">
        <!-- <i class="fa fa-2x fa-pencil-square edit center"></i> -->
        {{#unless hasNotes}}
          <i class="fa fa-2x fa-times-circle delete left"></i>
        {{/unless}}
      </div>
    </div>
  </td>
</template>
