<template name="items">
  <div class="topbar">
    <span class="email">{{email}}</span> <a href="" class="sign-out"><i class="fa fa-2x fa-sign-out"></i></a>
  </div>
  <table class="treel-table">
    <tbody>
    {{#each items}}
      {{> item}}
    {{/each}}
    </tbody>
  </table>
  <div class="footer">
    <ul class="backgrounds">
      <li>
        <i class="fa fa-desktop"></i>
      </li>
      {{#each backgrounds}}
        <li class="set-wp action" data-name="{{name}}">{{count}}</li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="item">
  <tr data-id="{{_id}}" data-rank="{{rank}}" class="sortable">
    {{> note}}

    {{> itemControls}}

    {{#each notes}}
      {{> note}}
    {{/each}}
  
    {{#if notes.count}}
      {{> itemControls}}
    {{/if}}
  </tr>
</template>

<template name="itemControls">
  <td>
    <div class="item-controls">
      <i class="fa fa-2x fa-chevron-circle-up go-up top left action"></i>
      <i class="fa fa-3x fa-chevron-circle-right go-right middle left action"></i>
      <i class="fa fa-2x fa-chevron-circle-down go-down bottom left action"></i>
    </div>
  </td>
</template>

<template name="note">
  <td>
    <div class="box {{#if checked}}checked{{/if}} {{#if isNote}}note{{else}}item{{/if}} {{#if isEditing}}editing{{/if}}">
      
      {{> textarea}}
      
      {{#if isNote}}
        {{#if canCheck}}
          <i style="color: {{controlColor}}" class="fa fa-2x fa-check-circle check left note-control-item action"></i>
        {{/if}}
      {{else}}
        <i style="color: {{controlColor}}" class="fa fa-arrows move left note-control-item action"></i>
      {{/if}}

      {{#if canDelete}}
        <i style="color: {{controlColor}}" class="fa fa-2x fa-times-circle delete right note-control-item action"></i>
      {{/if}}
    </div>
  </td>
</template>

<template name="textarea">
  <textarea type="text" name="note" placeholder="...">{{body}}</textarea>
</template>