<template name="items">
  <div class="topbar">
    <span class="email">{{email}}</span> <a href="" class="sign-out"><i class="fa fa-2x fa-sign-out"></i></a>
  </div>
  <table>
    <tbody>
    {{#each items}}
      {{> item}}
    {{/each}}
    </tbody>
  </table>
</template>

<template name="item">
  <tr data-id="{{_id}}" data-rank="{{rank}}" class="sortable">
    {{> note}}

    {{#each notes}}
      {{> note}}
    {{/each}}
    <td>
      <div class="item-controls">
        <i class="fa fa-3x fa-chevron-circle-right go-right middle"></i>
        <i class="fa fa-2x fa-chevron-circle-down go-down bottom"></i>
      </div>
    </td>
  </tr>
</template>

<template name="note">
  <td>
    <div class="note {{#if checked}}checked{{/if}} {{#unless isNote}}item{{/unless}}">
      {{#if formVisible}}
        <form>
          <textarea rows="6" class="form-control" type="text" name="note" placeholder="...">{{body}}</textarea>
        </form>
      {{else}}
        <div class="body edit">
          {{body}}
        </div>
      {{/if}}

      {{#if isNote}}
        <i class="fa fa-2x fa-check-circle check left note-control-item"></i>
      {{else}}
        <i class="fa fa-arrows move left note-control-item"></i>
      {{/if}}

      {{#if canDelete}}
        <i class="fa fa-2x fa-times-circle delete right note-control-item"></i>
      {{/if}}
    </div>
  </td>
</template>
